<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Отправка письма</title>
</head>
<body>

<h2>Отправить письмо</h2>

<form method="post">
    <p>yaEmail:</p>
    <input type="text" name="login">

    <p>Пароль:</p>
    <input type="password" name="password">

    <p>Кому:</p>
    <input type="text" name="to">

    <p>Тема:</p>
    <input type="text" name="subject">

    <p>Текст:</p>
    <textarea name="message"></textarea>

    <br><br>
    <button type="submit">Отправить</button>
</form>

</body>
</html>